<!--
Copyright 2026 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT

Author or committer display.
Expects "CommitSignature" for a template pipeline.
-->
{{ define "commit-signature" -}}
{{- if eq .Config.UI.Email "none" -}}
	{{- .Signature.Name -}}
{{- else if eq .Config.UI.Email "mailto" -}}
	<a href="mailto:{{ .Signature.Email }}">
		{{- .Signature.Name -}}
	</a>
{{- else if eq .Config.UI.Email "obfuscate" -}}
	{{- .Signature.Name }}
	({{- .EmailUsername -}}<span>@</span><span style="display:none">example.com<br/></span>{{- .EmailDomain -}}<span style="display:none">@example.com</span>)
{{- else -}}
	<span data-signature-id-user="{{- .EmailUsername -}}" data-signature-id-domain="{{- .EmailDomain -}}">
		{{- .Signature.Name -}}
	</span>
	<noscript>
		({{- .EmailUsername -}}<span>@</span><span style="display:none">example.com<br/></span>{{- .EmailDomain -}}<span style="display:none">@example.com</span>)
	</noscript>
{{- end -}}
{{- end -}}
