/* Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
 * SPDX-License-Identifier: MIT
 */

.recent-commits {
	margin-block-start: var(--space-xl);
}

.recent-commits--item + .recent-commits--item {
	margin: calc(var(--space-xxl) * var(--space-scale)) 0;
}

.recent-commits--title {
	margin: 0;
	font-size: var(--font-lg);
}

.recent-commits--list {
	list-style: none;
	padding: 0;
	margin: 0;
}
