<!--
Navigation menu for repository pages. This template requires "Meta repositoryMeta"
to be defined at the top of data structure. Do not forget to pass context down
with dot.

	<body>
		{{ template "repo-nav" . }}
		<p>Foo</p>
	</body>

Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-nav" -}}
<nav>
	<a href="/{{ .Meta.DisplayName }}">Summary</a>
	<a href="/{{ .Meta.DisplayName }}/refs">Refs</a>
	<a href="/{{ .Meta.DisplayName }}/log/{{ .Meta.Ref }}">Commits</a>
	<a href="/{{ .Meta.DisplayName }}/tree/{{ .Meta.Ref }}">Files</a>
</nav>
{{- end -}}
