<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-tree-ref" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-tree-ref.css" />
		{{- $path := "" -}}
		{{- range .Path -}}
		{{- $path = printf "%s/%s" $path . -}}
		{{- end -}}
		<title>
			{{ or $path "Files" }}
			at {{ .Meta.Ref }} - {{ .Meta.DisplayName }}
		</title>
		<meta name="description" content='{{ or $path "List of files" }} in {{ .Meta.DisplayName }}' />
	</head>
	<body>
		{{- $meta := .Meta -}}
		{{- template "icons" -}}
		<header class="header">
			<ol class="breadcrumbs">
				<li>
					<a href="/">Top</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}">{{ .Meta.DisplayName }}</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}/tree/{{ .Meta.Ref }}">Files</a>
				</li>
				{{- $path_slice := .Path -}}
				{{ range $i, $segment := .Path -}}
				<li>
					{{- $trail := "" -}}
					{{- range $j, $seg := $path_slice -}}
					{{- if le $j $i }}
					{{- $trail = printf "%s/%s" $trail $seg -}}
					{{- end -}}
					{{- end -}}
					{{- $aria_current := "false" -}}
					{{- if eq $trail $path -}}
					{{- $aria_current = "page" -}}
					{{- end -}}
					<a href="/{{ $meta.DirName }}/tree/{{ $meta.Ref }}{{ $trail }}" aria-current="{{ $aria_current }}">{{ $segment }}</a>
				</li>
				{{- end }}
			</ol>
			{{ template "repo-header" . }}
			{{ template "repo-nav" . }}
		</header>
		<main class="main">
			{{- $prefix := $path -}}
			{{- if $prefix -}}
			{{- $prefix = printf "%s/" $prefix -}}
			{{- end -}}
			<ul class="tree-list">
				{{ range .Files -}}
					<li>
						{{ if not .IsFile -}}
						<a class="tree-row" href="/{{ $meta.DirName }}/tree/{{ $meta.Ref }}/{{ $prefix }}{{ .Name }}">
							<svg class="tree-row--icon tree-row--dir-icon" viewBox="0 0 24 24">
								<use href="#icon_dir" />
							</svg>
							<span class="tree-row--name">{{ .Name }}/</span>
							<span class="tree-row--mode">{{ .Mode }}</span>
							<span class="tree-row--size">{{ .Size }} bytes</span>
						</a>
						{{- else -}}
						<a class="tree-row" href="/{{ $meta.DirName }}/blob/{{ $meta.Ref }}/{{ $prefix }}{{ .Name }}">
							<svg class="tree-row--icon tree-row--file-icon" viewBox="0 0 24 24">
								<use href="#icon_file" />
							</svg>
							<span class="tree-row--name">{{ .Name }}</span>
							<span class="tree-row--mode">{{ .Mode }}</span>
							<span class="tree-row--size">{{ .Size }} bytes</span>
						</a>
						{{- end }}
					</li>
				{{- end }}
			</ul>
		</main>
	</body>
</html>
{{- end }}
