<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-top" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-top.css" />
		<title>{{ .Meta.DisplayName }} | {{ .Config.Meta.Title }}</title>
		{{- if .Meta.Description }}
		<meta name="description" content="{{ .Meta.Description }}" />
		{{- end }}
		{{- if and .IsGoModule .Config.Server.Name }}
		<meta
			name="go-import"
			content="{{ .Config.Server.Name }}/{{ .Meta.DisplayName }} git https://{{ .Config.Server.Name }}/{{ .Meta.DirName }}"
		/>
		{{- end }}
	</head>
	<body>
		<header class="header">
			<ol class="breadcrumbs">
				<li>
					<a href="/">Top</a>
				</li>
				<li>
					<a aria-current="page" href="/{{ .Meta.DisplayName }}">{{ .Meta.DisplayName }}</a>
				</li>
			</ol>
			{{ template "repo-header" . }}
			{{ template "repo-nav" . }}
		</header>
		<main class="main">
			<article class="readme">
				{{- .Readme -}}
			</article>
		</main>
		<div class="aside">
			<aside>
				<dl class="metadata">
					<dt class="metadata--key">Default branch</dt>
					<dd class="metadata--value">
						<a href="/{{ .Meta.DisplayName }}/refs">{{ .DefaultBranch }}</a>
					</dd>
					<dt class="metadata--key">Clone URL</dt>
					<dd class="metadata--value">https://{{ .Config.Server.Name }}/{{ .Meta.DirName }}</dd>
					{{- if and .IsGoModule .Config.Server.Name -}}
					<dt class="metadata--key">Go Module</dt>
					<dd class="metadata--value">{{ .Config.Server.Name }}/{{ .Meta.DisplayName }}</dd>
					{{- end -}}
				</dl>
			</aside>
			<aside class="recent-commits">
				<h2 class="recent-commits--title">Recent commits</h2>
				<ol class="recent-commits--list">
					{{ $meta := .Meta }}
					{{- range .RecentCommits }}
						<li class="recent-commits--item commit-summary">
							<a class="commit-summary--hash" href="/{{ $meta.DisplayName }}/commit/{{ .Hash.String }}">
								{{- slice .Hash.String 0 8 -}}
							</a>
							<span class="commit-summary--message" title="{{- .Message -}}">
								{{- .Message -}}
							</span>
							<span class="commit-summary--committer">
								<a href="mailto:{{ .Committer.Email }}">
									{{- .Committer.Name -}}
								</a>
								comitted at
								<time datetime='{{ .Committer.When.Format "2006-01-02T15:04:05-0700" }}'>
									{{ .Committer.When.Format "2006-01-02 15:04:05 -0700" }}
								</time>
							</span>
						</li>
					{{- end -}}
				</ol>
				<div>
					<a href="/{{ .Meta.DisplayName }}/log/{{ .Meta.Ref }}">View more &gt;</a>
				</div>
			</aside>
		</div>
	</body>
</html>
{{- end }}
