<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-commit" -}}
<!DOCTYPE html>
<html lang="en">
	{{ $shorthash := slice .Commit.Hash.String 0 8 }}
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-commit.css" />
		<title>
			{{ $shorthash }} - {{ .Meta.DisplayName }}
		</title>
		<meta name="description" content='{{ $shorthash }} in {{ .Meta.DisplayName }}' />
		<script type="module" src="/static/convert-to-local-datetime.js"></script>
	</head>
	<body>
		<header class="header">
			<ol class="breadcrumbs">
				<li>
					<a href="/">Top</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}">{{ .Meta.DisplayName }}</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}/commit/{{ .Meta.Ref }}" aria-current="page">
						{{- $shorthash -}}
					</a>
				</li>
			</ol>
			{{ template "repo-header" . }}
			{{ template "repo-nav" . }}
		</header>
		<main class="passthru">
			<div class="main">
				<section class="repo-commit--message">
					{{- .Commit.Message -}}
				</section>
				<h2 class="repo-commit--subheading">Changes</h2>
				<p class="repo-commit--summary">
					{{ .Diff.Stat.FilesChanged }} changed files
					(+{{ .Diff.Stat.Insertions }}/-{{ .Diff.Stat.Deletions }})
				</p>
				<ul class="repo-commit--file-list">
					{{ $meta := .Meta }}
					{{ $root := . }}
					{{- range .Diff.Files }}
					<li>
						<div class="repo-commit--filename">
							{{- if or .IsRename .IsDelete }}
							<a href="/{{ $meta.DirName }}/blob/{{ $root.Parent.Hash.String }}/{{ .OldName }}">{{ .OldName }}</a>
							{{- if .IsRename }}
							&gt;
							{{- else }}
							(deleted)
							{{- end }}
							{{- end}}
							<a href="/{{ $meta.DirName }}/blob/{{ $root.Commit.Hash.String }}/{{ .NewName }}">{{ .NewName }}</a>
							{{- if not .OldName }}
							<span>(new)</span>
							{{ end -}}
						</div>
						<div>
							{{ if .IsBinary -}}
							<p>Diff for binary file is unavailable.</p>
							{{- else -}}
							<ul class="repo-commit--diff">
								{{- range .TextFragments }}
								<li class="repo-commit--diff-item">
									<div class="repo-commit--diff-header">
										<span class="repo-commit--diff-header-inner">{{ .Header }}</span>
									</div>
									{{- range .Lines -}}
									{{- $op := "" -}}
									{{- if eq .Op.String "+" -}}
									{{- $op = "add" -}}
									{{- else if eq .Op.String "-" -}}
									{{- $op = "delete" -}}
									{{- end -}}
									<span class="repo-commit--diff-line" data-op="{{ $op }}">
										<span class="repo-commit--diff-icon">
										{{- if eq .Op.String "+" -}}
										+
										{{- else if eq .Op.String "-" -}}
										-
										{{- end -}}
										</span>
										<span class="repo-commit--diff-line-text">{{- .Line -}}</span>
									</span>
									{{- end -}}
								</li>
								{{ end -}}
							</ul>
							{{- end }}
						</div>
					</li>
					{{ end -}}
				</ul>
			</div>
			<div class="aside">
				<dl class="metadata">
					<dt class="metadata--key">Authored by</dt>
					<dd class="metadata--value">
						<a href="mailto:{{ .Commit.Author.Email }}">
							{{- .Commit.Author.Name -}}
						</a>
					</dd>
					<dt class="metadata--key">Authored at</dt>
					<dd class="metadata--value">
						<time
							datetime='{{ .Commit.Author.When.Format "2006-01-02T15:04:05-0700" }}'
							data-local-format=""
						>
							{{ .Commit.Author.When.Format "2006-01-02 15:04:05 -0700" }}
						</time>
					</dd>
					<dt class="metadata--key">Committed by</dt>
					<dd class="metadata--value">
						<a href="mailto:{{ .Commit.Committer.Email }}">
							{{- .Commit.Committer.Name -}}
						</a>
					</dd>
					<dt class="metadata--key">Committed at</dt>
					<dd class="metadata--value">
						<time
							datetime='{{ .Commit.Committer.When.Format "2006-01-02T15:04:05-0700" }}'
							data-local-format=""
						>
							{{ .Commit.Committer.When.Format "2006-01-02 15:04:05 -0700" }}
						</time>
					</dd>
					{{- if .Commit.PGPSignature }}
					<dt class="metadata--key">Signature</dt>
					<dd class="metadata--value">
						<details>
							<summary>View</summary>
							<textarea class="repo-commit--signature" readonly>
								{{- .Commit.PGPSignature -}}
							</textarea>
						</details>
					</dd>
					{{ end -}}
					<dt class="metadata--key">Object name</dt>
					<dd class="metadata--value">
						{{- .Commit.Hash.String -}}
					</dd>
					{{- if not .Parent.Hash.IsZero }}
					<dt class="metadata--key">Parent</dt>
					<dd class="metadata--value">
						<a href="/{{ .Meta.DirName }}/commit/{{ .Parent.Hash.String }}">
							{{- slice .Parent.Hash.String 0 8 -}}
						</a>
					</dd>
					{{ end -}}
					{{- template "tab-selector" -}}
				</dl>
			</div>
		</main>
	</body>
</html>
{{- end }}
