<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-list" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-list.css" />
		<title>{{ .Config.Meta.Title }}</title>
		{{- if .Config.Meta.Description }}
		<meta name="description" content="{{ .Config.Meta.Description }}" />
		{{- end }}
	</head>
	<body>
		<header class="header">
			<div class="header-title">
				<h1 class="header-title--name">{{ .Config.Meta.Title }}</h1>
				<p class="header-title--description">{{ .Config.Meta.Description }}</p>
			</div>
		</header>
		<main class="main">
			<ul class="repos">
				{{- range .Repositories }}
				<li>
					<a class="repo-link" href="/{{ .DirName }}">
						<span class="repo-link--name">
							{{- .DisplayName -}}
						</span>
						{{- if .Description }}
						<span class="repo-link--description">{{ .Description }}</span>
						{{ end -}}
						<span class="repo-link--update-time">
						Updated
							<time
								datetime='{{ .LastCommit.Committer.When.Format "2006-01-02T15:04:05-0700" }}'
								title='{{ .LastCommit.Committer.When.Format "2006-01-02 15:04:05 -0700" }}'
							>
								{{- .LastCommitAtRelative -}}
							</time>
						</span>
					</a>
				</li>
				{{- end -}}
			</ul>
		</main>
	</body>
</html>
{{- end }}
