<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-log-ref" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-log-ref.css" />
		<title>
			Commit history at {{ .Meta.Ref }} - {{ .Meta.DisplayName }}
		</title>
		<meta name="description" content='Commit history on {{ .Meta.DisplayName }} at {{ .Meta.Ref }}' />
	</head>
	<body>
		<header class="header">
			<ol class="breadcrumbs">
				<li>
					<a href="/">Top</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}">{{ .Meta.DisplayName }}</a>
				</li>
				<li>
					<a href="/{{ .Meta.DirName }}/log/{{ .Meta.Ref }}" aria-current="page">
						Commits
					</a>
				</li>
			</ol>
			{{ template "repo-header" . }}
			{{ template "repo-nav" . }}
		</header>
		<main class="main">
			<h1 class="log-heading">Commits at {{ .Meta.Ref }}</h1>
			<ol class="log-list">
				{{- $meta := .Meta -}}
				{{ range .Commits -}}
				<li class="commit-summary">
					<a class="commit-summary--hash" href="/{{ $meta.DirName }}/commit/{{ .Hash.String }}">
						{{- slice .Hash.String 0 8 -}}
					</a>
					<span class="commit-summary--message" title="{{- .Message -}}">
						{{- .Message -}}
					</span>
					<span class="commit-summary--author">
						<a href="mailto:{{ .Author.Email }}">
							{{- .Author.Name -}}
						</a>
						authored at
						<time datetime='{{ .Author.When.Format "2006-01-02T15:04:05-0700" }}'>
							{{ .Author.When.Format "2006-01-02 15:04:05 -0700" }}
						</time>
					</span>
					<span class="commit-summary--committer">
						<a href="mailto:{{ .Committer.Email }}">
							{{- .Committer.Name -}}
						</a>
						comitted at
						<time datetime='{{ .Committer.When.Format "2006-01-02T15:04:05-0700" }}'>
							{{ .Committer.When.Format "2006-01-02 15:04:05 -0700" }}
						</time>
					</span>
				</li>
				{{- end }}
			</ol>
		</main>
	</body>
</html>
{{- end }}
