<!--
Copyright 2025 Shota FUJI <pockawoooh@gmail.com>
SPDX-License-Identifier: MIT
-->
{{ define "repo-blob-ref" -}}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "head" }}
		<link rel="stylesheet" href="/static/repo-blob-ref.css" />
		{{- $path := "" -}}
		{{- $name := "" -}}
		{{- range .Path -}}
		{{- $path = printf "%s/%s" $path . -}}
		{{- $name = . -}}
		{{- end -}}
		<title>
			{{ $path }} at {{ .Meta.Ref }} - {{ .Meta.DisplayName }}
		</title>
		<meta name="description" content='{{ $path }} in {{ .Meta.DisplayName }}' />
	</head>
	<body>
		<header class="header">
			<ol class="breadcrumbs">
				<li>
					<a href="/">Top</a>
				</li>
				<li>
					<a href="/{{ .Meta.DisplayName }}">{{ .Meta.DisplayName }}</a>
				</li>
				<li>
					<a href="/{{ .Meta.DisplayName }}/tree/{{ .Meta.Ref }}">Files</a>
				</li>
				{{- $path_slice := .Path -}}
				{{- $meta := .Meta }}
				{{ range $i, $segment := .Path -}}
				<li>
					{{- $trail := "" -}}
					{{- range $j, $seg := $path_slice -}}
					{{- if le $j $i }}
					{{- $trail = printf "%s/%s" $trail $seg -}}
					{{- end -}}
					{{- end -}}
					{{- if eq $segment $name -}}
						<a href="/{{ $meta.DisplayName }}/blob/{{ $meta.Ref }}{{ $trail }}" aria-current="page">{{ $segment }}</a>
					{{- else -}}
						<a href="/{{ $meta.DisplayName }}/tree/{{ $meta.Ref }}{{ $trail }}">{{ $segment }}</a>
					{{- end -}}
				</li>
				{{- end }}
			</ol>
			{{ template "repo-header" . }}
			{{ template "repo-nav" . }}
		</header>
		<main class="main">
			<div class="blob-preview">
				<ol class="blob-preview--line-number-list">
					{{- range .LineNumbers -}}
					<li>
						<a id="L{{ . }}" class="blob-preview--line-number" href="#L{{ . }}">{{ . }}</a>
					</li>
					{{- end -}}
				</ol>
				{{ if .SyntaxHighlightedContent -}}
				{{ .SyntaxHighlightedContent }}
				{{- else -}}
				<pre><code>
					{{- .Content -}}
				</code></pre>
				{{- end }}
			</div>
		</main>
	</body>
</html>
{{- end }}
